.container {
  height: 100dvh;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
}

.section {
  height: 100dvh;
  min-height: 100dvh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  padding: 24px;
}
