.hero {
  position: relative;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
}

.background {
  position: absolute;
  inset: 0;

  background-image: url("/assets/1.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.75)
  );
}

.content {
  border: 5px solid white;
  position: relative;
  z-index: 2;

  text-align: center;
  color: white;

  max-width: 720px;
  padding: 24px;
}

.subtitle {
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.85;
}

.title {
  font-size: clamp(40px, 6vw, 72px);
  margin: 16px 0;
  line-height: 100%;
}

.description {
  max-width: 500px;
  margin: 0 auto 20px;
  opacity: 0.9;
}

.date {
  margin-top: 10px;
  opacity: 0.9;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 28px;
}

.timer div {
  background: rgba(255, 255, 255, 0.12);
  padding: 12px;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  min-width: 60px;
}

.timer span {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.timer small {
  opacity: 0.8;
}

.button {
  margin-top: 32px;

  padding: 14px 28px;
  border-radius: 999px;
  border: none;

  cursor: pointer;

  background: white;
  color: black;

  transition: transform 0.2s ease;
}

.button:hover {
  transform: translateY(-2px);
}
