.step {
  position: relative;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
}

.bubble {
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 2rem;
  white-space: pre-line;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.bubble-text {
  width: 300px;
  margin: 0;
  background-color: #fceee1;
  border-radius: 12px;
}

.background {
  position: absolute;
  inset: 0;

  background-image: url("/assets/bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(1.05);
}

@keyframes pulseAndSpin {
  0% {
    transform: translateY(-30%);
  }
  /* 50% {
    transform: translateY(0%);
  } */
  100% {
    transform: translateY(30%);
  }
}

.animated-arrow {
  animation: pulseAndSpin 500ms ease-in-out infinite alternate;
}
